<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">O PPU</a></li>
				<li><a href="/kuratori">Kurátoři</a></li>
	        		<li><a href="/studium">Studium</a></li>
				<li><a href="/plody">Plody zrání</a></li>
	        		<li><a href="/blog">Novinky</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ondrej.kolek@pirati.cz">email</a></li>
	        		<li><a href="https://github.com/otazky">github.com/otazky</a></li>
				</ul>
			</footer>
		</body>
	</html>
