<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			<!-- smazáno #myDIV -->
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/"><img src="https://user-images.githubusercontent.com/2339683/80408449-7cb00000-88c7-11ea-9836-9ed40ca7d088.jpg" height="55px"></a></li>
		        	<li><a href="/about">O PPU</a></li>
				<li><a href="/kuratori">Kurátoři</a></li>
	        		<li><a href="/studium">Studium</a></li>
				<li><a href="/plody">Plody</a></li>
	        		<li><a href="/blog">Novinky</a></li>
				<li><a href="/spoluprace">Zapoj se</a></li>
				<li><a href="/opendata">Otevřená data</a></li>
				<li><a href="/kontakt">Kontakty</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ondrej.kolek@pirati.cz">email</a></li>
	        		<li><a href="https://github.com/otazky">github.com/otazky</a></li>
				<li><a href=" " class="label secondary" style="background-color:">
					<i class="fa fa-pencil"></i>Navrhni úpravu</a></li>

				</ul>
			</footer>

			<script type="text/javascript"> 
				function toggle_visibility(id) 
				{ var e = document.getElementById(id); 
				 if(e.style.display == 'block') 
				    e.style.display = 'none'; 
				 else e.style.display = 'block'; } 
			 </script> 
		</body>
	</html>
